body {
    background-color: black;
    justify-content: center;
}

div {
    margin: auto; /* set top and bottom margin to 20 pixels, and left and right margin to auto */
}

/* # was used to target specific elements within IDs*/
#logoCard{
    min-width: fit-content;
    max-width: fit-content;
}

#subMenu{
    position: relative;
    z-index: 1;
    border-radius: inherit;
    padding: 2.5rem 2rem;
    max-width: 100%;
    justify-content: center;
}

#cardText{
    text-align: center;
    color: #EC008C;
    font-style: bold;
    justify-content: center;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

#blockLink{
    text-align: end;
    color: white;
    font: small-caps;
    letter-spacing: 3px;
    margin-top: 10px;
    }
    
    a:hover {
    background-color: #EC008C;
    }

.first{
    color: white;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}