body {
    background-color: black;
    justify-content: center;
}

div {
    margin: auto; /* set top and bottom margin to 20 pixels, and left and right margin to auto */
}

/* # was used to target specific elements within IDs*/
#logoCard{
    width: 25%;
}

#subMenu{
    position: relative;
    z-index: 1;
    border-radius: inherit;
    padding: 2.5rem 2rem;
    max-width: 100%;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    word-spacing: 6px;
    letter-spacing: 3px;
}

#cardText{
    text-align: center;
    color: #EC008C;
    justify-content: center;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    width: 90%;
}

#blockLink{
    text-align: end;
    color: white;
    font: small-caps;
    letter-spacing: 3px;
    margin-top: 10px;
    }
    
    a:hover {
    background-color: #EC008C;
    }

.first{
    color: white;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    size: 30%;
}

#aboutPar{
    color: white;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: larger;
}

.specialColor{
    color:#EC008C;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

#gabrielPicture{
    width: 50%;
}

#catPics{
    width: 25%;
    border-spacing: 7px;
    -ms-flex-align: center;
    padding: 10px 35px
}
